extends layout

block content
  div.fila
    h2(align='center')= title
    h1(align='center') COCOA
    p

  div.panel
    div.formulario(class='panel panel-primary', align='center')
      div.encabezado(class='panel-heading') 
        h5 Inicio de Sesion
      div.cuerpo(class='panel-body')  
        form(action="principal", name="sesion", method="post", enctype="application/x-www-form-urlencoded", align='center')
    
          p RUT :
            input#rut(type="text", placeholder="99.999.999-9", name="rut")
          p Password :
            input(id="pass", type="password", name="pass")
          h5 Docente
            input#Docente(type="radio", name="perfil", value="docente") 
          h5 Estudiante
            input#Estudiante(type="radio", name="perfil", value="estudiante") 
  
          p
          button.btn(class='btn btn-primary', type="submit", value="Enviar") Ingresar
          button.btn(class='btn btn-warning', type="reset", value="borrar") Borrar
          p

  