extends layout

block content
  - let archs = ['ejeplo1','ejemplo2','clase 8']
  h1= title
  h1 
    Aqui podras ver la lista de todos tus archivos...
  ul
    for arch in archs
      li= arch
    else
      li sorry, no archivos!
  a(class='button' href='principal') Volver