extends layout

block content
  h1= title
  h1 
    if perfil == "estudiante"
      h1 Bienvenido estimado
      p
        En esta seccion encontraras todo lo necesario para trabajar
      p
        a(class='button' href='misarchivos') Archivos
      p
        a(class='button' href='google.cl') Editor
      p
        a(class='button' href='google.cl') Ajustes de cuenta

    else
      h1 Cuenta Invitado
  a(class='button' href='/') Salir