extends layout

block content
  h1= title
  
  h1 Bienvenido Estudiante #{usuario}



  p
    En esta seccion encontraras todo lo necesario para trabajar
  p
    a(class='button' href='misarchivos') Archivos
  p
    a(class='button' href='google.cl') Editor
  p
    a(class='button' href='google.cl') Ajustes de cuenta
  p
    a(class='button' href='/') Salir